.container.home-first-page, .container.home-second-page {
  background-color: #17599D;
  color: white;
}

.row.title h2 {
  color: white;
}

.upper-title {
  font-family: sans-serif;
  margin-bottom: 0px;
  margin-top: -5px;
}

.lower-title {
  font-family: sans-serif;
  margin-top: 0px;
  font-size: 32px;
  font-weight: bolder;
}

.general-title {
  margin-bottom: 7px;
}

.general-text {
  font-size: 14px;
}

.about-dodra {
  color: #ffc100;
  font-size: 24px;
}

.menu ul {
  list-style-type: none;
  background-color: #132034;
}

.menu ul li {
  display: inline-block;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: 300;
}

.delimiter-slash {
  color: #ffc100;
}

#upcoming-samagams {
  height: 50px;
  width: 160px;
  background: url(../icons-08.png) -417px -18px;
}

#dodra-radio {
  height: 50px;
  width: 160px;
  background: url(../icons-08.png) -203px -13px;
  margin: auto;
}

#samagams {
  list-style-type: none;
  padding-left: 10px;
  border-left: solid 1px white;
  margin-left: 1px;
}

.samagam {
  font-weight: bold;
  margin-bottom: 3px;
}

.dates {
  color: #ffc100;
}
